Repository celo-org/react-celo: changes, and which Codecov flags are due for each by the changed paths.
All: react-celo, walletconnect

update wallet connect to latest
  packages/walletconnect/package.json
  yarn.lock
Due: walletconnect

add cannoli to walletconnect and a note for next time
  packages/react-celo/src/constants.tsx
  packages/walletconnect/src/wc-wallet.ts
Due: react-celo, walletconnect

fix hydration errors
  packages/example/pages/index.tsx
Due: none

docs: add explanation for the changes
  packages/example/pages/wallet.tsx
  packages/walletconnect/src/wc-signer.ts
Due: walletconnect

chore: upgrade local WC Wallet
  packages/example/package.json
  packages/example/pages/wallet.tsx
  packages/walletconnect/src/wc-wallet.ts
  yarn.lock
Due: walletconnect

fix: make it work
  packages/example/pages/wallet.tsx
  packages/walletconnect/src/wc-signer.ts
Due: walletconnect

fix: typing
  packages/example/pages/wallet.tsx
  packages/walletconnect/src/wc-signer.ts
Due: walletconnect

fix: remove unused import
  packages/walletconnect/src/wc-signer.ts
Due: walletconnect

chore: remove unused import
  packages/example/pages/wallet.tsx
Due: none

fix: remove node 14 CI runner
  .github/workflows/ci.yml
  package.json
  packages/walletconnect/package.json
Due: walletconnect

fix: remove unused auth-client
  packages/walletconnect/package.json
  yarn.lock
Due: walletconnect

include fetch in tests
  jest.setup.ts
Due: none

add cannoli to mock wallet, add properties to mock client which are missing
  packages/walletconnect/__tests__/utils/in-memory-wallet.ts
  packages/walletconnect/__tests__/utils/mock-client.ts
Due: walletconnect

Better vulnerability fixes
  package.json
  yarn.lock
Due: none

Better vulnerability fixes (#358)
  package.json
  yarn.lock
Due: none

fix deprecated setup for ts jest
  jest.config.js
Due: none

Fix dapp name not being sent to the wallet
  packages/react-celo/src/hooks/use-wallet-connect-connector.ts
  packages/react-celo/src/utils/resurrector.ts
Due: react-celo

solving world hunger right here
  packages/react-celo/src/connectors/wallet-connect.ts
  packages/walletconnect/src/wc-wallet.ts
Due: react-celo, walletconnect

solve connection issues, and chain switching. fix infinite connector initialization.
  packages/example/pages/index.tsx
  packages/react-celo/src/connectors/common.ts
  packages/react-celo/src/connectors/wallet-connect.ts
  packages/react-celo/src/hooks/use-wallet-connect-connector.ts
  packages/react-celo/src/screens/wallet-connect.tsx
  packages/react-celo/src/utils/updater.ts
  packages/walletconnect/src/types.ts
  packages/walletconnect/src/wc-signer.ts
  packages/walletconnect/src/wc-wallet.ts
Due: react-celo, walletconnect

UPDATE WC DEPS TO LATEST
  packages/example/package.json
  packages/walletconnect/__tests__/wc-signer.test.ts
  packages/walletconnect/package.json
  packages/walletconnect/src/wc-wallet.ts
  yarn.lock
Due: walletconnect

publish 5.0.4 beta 1
  packages/react-celo/package.json
  packages/walletconnect/package.json
Due: react-celo, walletconnect

use correct version
  packages/example/package.json
Due: none

Path conditions:
  react-celo: any of: packages/react-celo/, but not: packages/*/node_modules, node_modules, packages/example
  walletconnect: any of: packages/walletconnect/, but not: packages/*/node_modules, node_modules, packages/example
